html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #22283B;
}
.center h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
  margin-left: 152px;
}
.custom {
  margin-top: 10%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media (max-width: 1072px) {
  .custom {
    margin-top: 20%;
  }
}
@media (max-width: 667px) {
  .custom {
    margin-top: 80%;
  }
}
nav {
  margin-bottom: 10px;
  margin-left: 70px;
}
nav a {
  color: black;
}
.customnav {
  background-color: #f4f4f4;
}
.customCol {
  border: 1px solid #e0e0e0;
  margin-bottom: 10%;
  box-shadow: 5px 5px #f4f4f4;
  padding: 10px;
  margin-top: 10%;
  margin-top: 15px;
  left: 260px;
}
.customPic {
  margin: 10% 10% 0 30%;
  margin-top: 105px;
  margin-left: 400px;
}
.center1 {
  margin-left: 510px;
}
