html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #22283B;
}
.center h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
  margin-left: 152px;
}
.custom {
  margin-top: 10%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media (max-width: 1072px) {
  .custom {
    margin-top: 20%;
  }
}
@media (max-width: 667px) {
  .custom {
    margin-top: 80%;
  }
}
nav {
  margin-bottom: 10px;
  margin-left: 280px;
}
nav a {
  padding-right: 70px;
  color: black;
}
.customnav {
  background-color: #f4f4f4;
}
.customCol {
  border: 1px solid #e0e0e0;
  margin-bottom: 10%;
  box-shadow: 5px 5px #f4f4f4;
  padding: 10px;
  margin-top: 10%;
  margin-top: 15px;
  bottom: 150px;
  top: 0;
  left: 180px;
}
.customCol ul li {
  margin-top: 10px;
  list-style-type: none;
}
.customCol ul li:hover {
  background-color: blue;
  color: white;
}
.center1 {
  margin-left: 510px;
}
.customPicture {
  width: 230px;
  height: 175px;
  margin-right: 36px;
}
.customCol2 {
  top: 100px;
  left: 100px;
}
.containerHeight {
  height: 155px;
}
.col {
  top: 150px;
  bottom: 160px;
  margin-bottom: 150px;
  left: 300px;
}
.customPicture2 {
  margin-left: 23px;
  margin-top: 20px;
  width: 325px;
  height: 250px;
}
.col2 {
  left: 290px;
}
footer {
  align-items: center;
  text-align: center;
}
.btn-inverse {
  background-color: white;
  border-color: black;
  border-style: dashed;
  border-width: thin;
}
.btn-inverse:hover {
  background-color: #060f2b;
  color: #dadeec;
}
.customCarousel {
  margin-top: 100px;
  margin-left: 200;
  margin-left: 220px;
}
.picture {
  margin-left: 340px;
}
.adjustment {
  top: 50px;
}
