html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #22283B;
}
.container-fluid {
  background: black;
  text-align: center;
}
.container-fluid .container {
  background: #e0e0e0;
  width: 1150px;
}
.container-fluid .container h2 {
  margin-bottom: 0;
}
.container-fluid .container nav {
  font-size: 0.8rem;
}
.container-fluid .container nav a.nav-link {
  color: black;
}
.container {
  width: 800px;
}
