/* @main-color: #f4f4f4;
@secondary-color: #22283B;
@accent-color: #e0e0e0; */

html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: #22283B;
}

