.header {
    width: 100%;
    .space-walkers {
        text-align: center;
    }
    .navbar {
        align-self: center;
        width: 100%;
        .navbar-collapse {
            justify-content: space-around;
            .navbar-nav {
                flex-direction: row;
                width: 50%;
                justify-content: space-around;
            }
        }
    }
}