// Make your imports here!

@import "bootstrap";
@import "variables";
@import "mixins";
@import "layout";

.max-width {
    max-width: 1000px;
}
.header-container{
    background-color: @main-color;
.nav .nav-link {
    color: @secondary-color;
}
}
.container {
    width: 880px;
}
.row.lift{  
    .padding;
}
.row.visit{
    .padding;
}
