html, body {
    font-family: 'Ubuntu', sans-serif;
    background-color: @accent-color;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
}

.navbar a {
    color: @secondary-color;
}

.form-group button {
    background-color: @secondary-color;
}

.navbar, footer {
    background-color: @accent-color;
} 

.table tr:nth-child(odd) {
    background-color: @accent-color;
}

.table th {
    background-color: white;
}

.container {
    background-color: @main-color;
}