.container {
  width: 100%;
  max-width: 880px;
}

.mid-section img {
  zoom: 50%;
}

img {
  .border-radius;
}

.footer {
    background: lightgrey;
    padding: 20px 0;
    text-align: center;
}

.footer {
  .box-shadow(5px 10px);
}
