
.main {
  padding-left: 28px;

  .rounded-images {
      .border-radius;
      .opacity(.9);
  }

  .checkboxes {
      label {
          &::before {
              background-color: white;
              border: solid 1px @accent-color;
          }
      }
  }
  .form-button {
      background-color: @secondary-color;
  }
}

.jumbotron {
  background-color: lighten(#e0e0e0, 7%);
}