// Variables

@main-color: #f4f4f4;
@secondary-color: #22283B;
@accent-color: #e0e0e0;

.colorScreen {
    background: @main-color;
    border-bottom: 1px solid gray;
}

.roundedImg {
    .border-radius(20px);
}

.opaqueImg {
    .opacity(@opacity: .5);
}

.footerColor {
    background-color: @accent-color;
}

h1, h2, h3, h4, h5, a {
    color: @secondary-color;
}
