// Variables

@main-color: #f4f4f4;
@secondary-color: #22283B;
@accent-color: #e0e0e0;

@mqxs: ~"(min-width: 400px)";
@mqsm: ~"(min-width: 576px)";
@mqmd: ~"(min-width: 768px)";
@mqlg: ~"(min-width: 992px)";
@mqxl: ~"(min-width: 1200px)";