// css.less stuff in here
.talbe-striped {
    .opacity (@opacity: 0.5) {
        -webkit-opacity: 	@opacity;
        -moz-opacity: 		@opacity;
        opacity: 		@opacity;
    }
}

h2 {
    .box-shadow (@string) {
        -webkit-box-shadow: @string;
        -moz-box-shadow:    @string;
        box-shadow:         @string;
    }
}
